.selectize-input {
  font-size: 14px; 
  line-height: 14px;
  } 

.selectize-dropdown {
  font-size: 12px; 
  line-height: 12px; 
  }

.selectize-label {
  font-size: 9px; 
  line-height: 12px; 
  }

.shiny-file-input-progress {
  display: none
  }
  
.col-sm-3 {
    padding: 2px;
}

.row {
  margin-right: 0;
  margin-left: 0;
} 

.well {
   padding: 8px 16px 12px 16px;
   background-color: white;
}


div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* Customize fonts */
  label { 
    font-family: 'Encode Sans Normal', Helvetica;
    color : #252C4F;
    font-weight: 400;
  }

  input, select { 
    font-family: 'Encode Sans Normal', Helvetica;
    color : black;
    font-weight: 400;
  }

  body { 
    font-family: 'Encode Sans Normal', Helvetica;
    color:  'black';
    font-weight: 200;
    padding-top: 50px;
  }

  h1, h2, h3, h4 { font-weight: 400; 
    font-family: 'Encode Sans Normal', Helvetica;
    color: #252C4F;
    
  }

  li {
    color: white;
}


/* Add an image to navbar */
  #img-id{
    position: fixed; 
    right: 50px;
    top: 10px;
  }



.navbar-nav li a:hover, .navbar-nav > .active > a {
  background-color: #C2C2C2;
  color: black !important;

}

.navbar-nav li a {
  color: white !important;
}


.navbar { 
  background-color: #252C4F;
  padding-left: 15px;
}

.navbar1 { 
  color: white;
}


/*Collapsible button*/
.action-button {
  font-family: 'Encode Sans Normal', Helvetica;
  right: -20px;
  background-color: white;  
  color: black;
}


.footer {
  font-family: 'Encode Sans Normal', Helvetica;
  font-size: 1.5rem;
  font-style: italic;
  color: white;
  background-color: #252C4F;
  height: auto;
  padding: 20px;
}

#footer-text {
  font-family: 'Encode Sans Normal', Helvetica;
  color: white;
  font-style: normal;
}

.fa-github {
  color: white;
}

.fa-robot {
  color: white;
}

.col-md-1 {
    text-align: center;
    font-size: 1.3rem;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

#container-info {
  padding-right: 20px;
  padding-left: 20px;
}